<launch>
    <node name="kinect_detect" pkg="kinect_in_reallife" type="kinect_instance_seg.py" output="screen">
    </node>

    <!-- Launch sub_detgepthimage node -->
    <node name="kinect_get_depth" pkg="kinect_in_reallife" type="kinect_mask_sub.py" output="screen">
    </node>
    
    <node name="pixel_meter_conversion" pkg="kinect_in_reallife" type="convert_error_to_meter.py" output="screen">
    </node>

    <node name="Send_goal" pkg="kinect_in_reallife" type="send_rep_goals.py" output="screen">
    </node>

</launch>
