<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <!-- <include file="$(find my_robot)/launch/my_robot.launch">
  </include>-->
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find delivery_robot_urdf2)/maps/real_map3.yaml"/>


  <!-- AMCL -->
  <include file="$(find amcl2)/launch/amcl.launch"/>

  <!-- SLAM -->
  <!-- <node name="maping" pkg="gmapping" type="slam_gmapping" >
    <remap from="scan" to="/laser/scan"/>
    <param name="base_frame" value="base_footprint"/>
  </node> -->

  <!-- <include file="$(find turtlebot3_slam)/launch/turtlebot3_$(arg slam_methods).launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include> -->

  <!-- move_base -->
  <!-- <include file="$(find my_robot)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include> -->

  <!-- rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find my_robot)/rviz/turtlebot3_auto_nav.rviz"/>   -->

</launch>
