<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="move_forward_only" default="false"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find delivery_robot_urdf2)/maps/real_map2.yaml"/>

  <!-- <node
  name="joint_state_publisher_gui"
  pkg="joint_state_publisher_gui"
  type="joint_state_publisher_gui" /> -->

  <!-- AMCL -->
  <include file="$(find amcl2)/launch/amcl.launch"/>

</launch>
