<launch>

  <include file="$(find gmapping)/slam_gmapping_pr2.launch"/>
  
   <include file="$(find delivery_robot_urdf2)/launch/odom.launch"/>
    
  <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>
  
   <include file="$(find delivery_robot_urdf2)/launch/display.launch"/>
   
  <include file="$(find delivery_robot_urdf2)/launch/rosserial.launch"/>

  <include file="$(find delivery_robot_urdf2)/launch/odom.launch"/>

</launch>
