<launch>

  <include file="$(find gmapping)/slam_gmapping_pr2.launch"/>
  <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>
  <include file="$(find delivery_robot_urdf2)/launch/rosserial.launch"/>
  <include file="$(find delivery_robot_urdf2)/launch/odom.launch"/>
  <!-- <include file="$(find amcl2)/launch/localization.launch"/> -->
  <!-- <include file="$(find delivery_robot_urdf2)/launch/move_base.launch"/> -->
  <!-- <include file="$(find delivery_robot_urdf2)/launch/control.launch"/> -->
  <!-- <node name="hardware_interface" pkg="delivery_robot_urdf2" type="hardware_interface" output="screen"/> -->
  
</launch>