<launch>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="publish_frequency" value="50.0" />
  </node>

  <!-- define robot describtion-->
  <param name="robot_description" textfile="$(find delivery_robot)/urdf/delivery_robot.urdf" />

    <node name="odometry_publisher" pkg="delivery_robot" type="odom" output="screen"/> 
</launch>